<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=drive-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}" type="text/css">
    <!-- font-awesome 图标字体 http://www.fontawesome.com.cn/faicons/#web-application -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" media="screen"
          rel="stylesheet" type="text/css">
</head>

<body>
<div id="login-box">
    <h1>Login</h1>
    <form method="post" name="signupForm" onsubmit="return checkNull();">
        <div class="form" >
            <div class="item">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                <input type="text" placeholder="Username" name="username">
            </div>
            <div class="item">
                <i class="fa fa-key" aria-hidden="true"></i>
                <input type="text" placeholder="Password" name="password">
            </div>
            <button id="signup" type="submit" name="submit" value="Signup">Signup</button>
        </div>
    </form>

</div>
</body>

<script type="text/javascript">
  		function checkNull(){
            if(document.signupForm.username.value==""){
                alert("Username can't be empty!");
                document.signupForm.username.focus();
                return false;
            }
            if(document.signupForm.password.value==""){
                alert("Password can't be empty!");
                document.signupForm.password.focus();
                return false;
            }
            return true;
  	  	}
</script>

</html>